/* style.css */
@import url("../src/vendor/normalize.css");
@import url("../src/vendor/fonts.css");
@import url("../src/components/editableCell/editableCell.css"); 
@import url("../src/components/budgetTable/budgetTable.css");

body {
  font-family: PT Sans, sans-serif;
  max-width: 1440px;
  max-height: 1074px;
  /* background: rgb(244, 244, 244); */
}

.main {
  margin: 20px;
  
}



th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* th {
  background-color: #f4f4f4;
  cursor: pointer;
} */

button {
  /* display: none; */
}

td:hover > button {
  /* display: inline;
  background: none;
  border: none; */
  cursor: pointer;
}

button.add-item::before {
  content: "+";
}

button.add-group::before {
  content: "#";
}

#app {
  overflow: auto;
  max-height: 100%;
  /* max-width: ; */
}
.table {
  border-collapse: collapse;
  /* background-color: rgba(255, 0, 0, 0.1); */
}
