/* budgetTable.css */
.header-row1{
  background-color: rgb(255, 255, 255);
}
.header-row2{
  background-color: rgb(247, 247, 247);
}
.expenses-group {
  background-color: rgb(247, 247, 247); /* Красный цвет фона для строки "Бюджет расходов" */
}

.income-group {
  background-color: rgb(247, 247, 247); /* Зеленый цвет фона для строки "Бюджет доходов" */
}
